*{
    color: hsl(0, 0%, 20%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.btn{
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    padding: 14px ;
}

.btn i{
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: hsl(195, 25%, 94%);
    box-shadow: 1px 0px 5px hsl(0, 0%, 80%);
    align-items: center;
    padding: 12px;
}

.classIdLabel{
    color: hsl(27, 84%, 57%);
}

#mode{
    background-color: transparent;
    margin-left: 10px;
    padding: 0px 14px;
    font-size: 1.2em;
}

.searchClass{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

#searchBtn{
    background-color:   hsl(27, 84%, 57%);

}

#resetBtn{
    background-color: hsl(207, 71%, 57%);
}

#searchBtn svg{
    display: flex;
    align-items: center;
    transform: scale(1.3);
}

#searchBtn svg path{
    color: white;
}

.form{
    display: flex;
    align-items: stretch;
}

.inputFeild {
    font-size: 1em;
    background-color: hsl(0, 0%, 90%);
    padding: 8px;
    width: 250px;
    border-color: transparent;
    border-radius: 6px;
}

.inputFeild:focus-visible{
    outline: none   ;
    background-color: transparent;
    border: 1px solid hsl(207, 74%, 74%);
    box-shadow: 0px 0px 2px hsl(207, 68%, 81%);
}


.data{
    width: 80%;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0px 4px 12px hsl(0, 0%, 80%);
    padding: 2%;
    border-radius: 4px;
}

#addTaskInput{
    width: 100%;
    text-overflow: clip;
}

#addTaskBtn{
    background-color: hsl(207, 71%, 57%);
}